# ==========================================
.env
.env.local
.env.*.local
*.pem
*.key

*.exe
*.exe-debug
*.elf
*.dylib
*.so
*.dll
bin/
dist/
main
cmd/main

# Test coverage & Profiling tools
*.out
*.test
*.prof

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

*.http.log

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.apk
*.aab
*.ipa